* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f4c531;
}
.container {
  height: 31.25em;
  width: 31.25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
form {
  width: 23.75em;
  height: 18.75em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 3.1em);
  left: 50%;
  padding: 0 3.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}
form label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 600;
  color: #2e0d30;
}
form input {
  font-size: 0.95em;
  font-weight: 400;
  color: #3f3554;
  padding: 0.3em;
  border: none;
  border-bottom: 0.12em solid #3f3554;
  outline: none;
}
form input:focus {
  border-color: #f4c531;
}
form input:not(:last-child) {
  margin-bottom: 0.9em;
}
form button {
  font-size: 0.95em;
  padding: 0.8em 0;
  border-radius: 2em;
  border: none;
  outline: none;
  background-color: #f4c531;
  color: #2e0d30;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-top: 0.8em;
}
.penguin-body {
  height: 10em;
  width: 8.4em;
  background-color: #000000;
  border: 0.18em solid #2e0d30;
  border-radius: 5em;
  position: absolute;
  top: 2em;
  margin: auto;
  left: 0;
  right: 0;
}
.belly {
  height: 6em;
  width: 5em;
  background-color: #ffffff;
  border-radius: 5em;
  position: absolute;
  top: 4em;
  margin: auto;
  left: 0;
  right: 0;
}
.flipper-l,
.flipper-r {
  background-color: #000000;
  height: 4em;
  width: 2em;
  border-radius: 2em;
  top: 6em;
  position: absolute;
}
.flipper-l {
  transform: rotate(-30deg);
  left: 7em;
}
.flipper-r {
  transform: rotate(30deg);
  right: 7em;
}
.eye-l,
.eye-r {
  background-color: #ffffff;
  height: 1.2em;
  width: 1.2em;
  border-radius: 50%;
  position: absolute;
  top: 2.5em;
}
.eye-l {
  left: 1.5em;
}
.eye-r {
  right: 1.5em;
}
.eyeball-l,
.eyeball-r {
  height: 0.5em;
  width: 0.5em;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  left: 0.35em;
  top: 0.35em;
}
.beak {
  height: 0.6em;
  width: 1.5em;
  background-color: #f4a941;
  position: absolute;
  top: 4em;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 0 0 0.5em 0.5em;
}
.feet-l,
.feet-r {
  background-color: #f4a941;
  height: 0.8em;
  width: 2em;
  border-radius: 0.5em;
  position: absolute;
  top: 10em;
}
.feet-l {
  left: 2em;
}
.feet-r {
  right: 2em;
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 14px;
  }
}
